/* FORM DISPLAY*/
.productContainer{
    background-color: rgb(255, 255, 255);
    padding:10px;
}

.dynamicProducts{
    background-color: rgb(68, 198, 238);
    padding:10px;
    font-size: 17px;
    border-radius:3px;
}

#typeName,#conso,#typePrice{
    margin:10px;
}

/* VISUAL REPRESENTATION OF THE CARD*/
.FinalCard{
    width:250px;
    height:320px;
    border-radius:3px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.425) 1px 5px 5px 3px;
}
#name,#conso,#price{
    list-style:none;
    font-family:sans-serif;
}
#name{
    font-size: 25px;
    text-align: center;

}
#image{
    width: 100%;
    height:200px;
    border: 1px solid black;
    border-radius: 3px;
    background-size:cover;
}
.cardDetail{
    padding:0px;
    margin:0px;
}